<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dinosaurs & Prehistoric Creatures</title>
</head>
<body>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/dinosaurs'>Dinosaurs</a></li>
        <li><a href='/prehistoric_creatures'>Prehistoric Creatures</a></li>
      </ul>
  <%- body %>
</body>
</html>