<form method="POST" action="/prehistoric_creatures/<%=creatureId%>/?_method=PUT">
    <label>Img Url</label>
    <input type="text" name="img_url" value="<%= creature.img_url %>">
    <label>Type</label>
    <input type="text" name="type" value="<%= creature.type %>">
    <input type="submit">
</form>