<form method="POST" action="/prehistoric_creatures">
  <label for="creatureType">Type</label>
  <input id="creatureType" type="text" name="type">

  <label for="creatureImage ">Img Url</label>
  <input id="creatureImage" type="text" name="img_url">

  <input type="submit">
</form>